
#include "dt-bindings/gpio/gpio.h"
#include "dt-bindings/phy/phy.h"

/ {
    chosen {
        xlnx,eeprom = &eeprom_mac;
    };

    gpio-leds {
        compatible = "gpio-leds";

        // MIO17 and MIO23 are PS LEDs
        led-ps1 {
            label = "LED_PS1";
            linux,default-trigger = "heartbeat";
            gpios = <&gpio 17 GPIO_ACTIVE_HIGH>;
        };

        led-ps2 {
            label = "LED_PS2";
            linux,default-trigger = "mmc0";
            gpios = <&gpio 23 GPIO_ACTIVE_HIGH>;
        };
    };
};

&gem3 {
    phy-handle = <&phy0>;

    phy0: phy@0 {
        // Marvel 88E1512
        //   compatible string is not needed
        reg = <0>;
        device_type = "ethernet-phy";
        marvell,reg-init =
            // This is apparently to fix a HW issue
            // (polarity swapped on S_IN/S_OUT terminals)
            <254 15 0x3fff 0>,
            // Set Fiber Auto-Negotiation Advertisement Register to 1000BASE-X Full-Duplex *only*
            // Needed for kernel 5.10
            <1 4 0x0000 0x0020>;
    };
};

&sdhci0 {
    // WP pin is not available on microSD, not connected on the board
    disable-wp;

    // the HW does not support SD 3.0
    no-1-8-v;
};

&gpio {
    i2c0oe {
        gpio-hog;
        output-high;
        gpios = <20 GPIO_ACTIVE_HIGH>;
    };

    usbc_pd_reset {
        gpio-hog;
        output-low;
        gpios = <12 GPIO_ACTIVE_HIGH>;
    };
};

&i2c0 {
    eeprom_mac: eeprom@50 {
        compatible = "atmel,24c02";
        reg = <0x50>;
        pagesize = <16>;
    };

    si570_mgt_lll: clock-generator@5d {
        #clock-cells = <0>;
        compatible = "silabs,si570";
        temperature-stability = <50>;
        reg = <0x55>;
        factory-fout = <125000000>;
        clock-frequency = <156250000>;
        clock-output-names = "si570_mgt_lll";
    };

    /* Si Labs at 0x76, 0x77 are handled by a separate script */
};

&eeprom_mac  {
    #address-cells = <1>;
    #size-cells = <1>;

    eth_mac: eth_mac@fa {
        reg = <0xfa 0x6>;
    };
};

&dwc3_0 {
    dr_mode = "host";
    snps,usb3_lpm_capable;
    phy-names = "usb3-phy";
    phys = <&lane2 PHY_TYPE_USB3 0 2 26000000>;
    maximum-speed = "super-speed";
};

// copied from ZCU104
// and https://www.zachpfeffer.com/single-post/Integrate-a-QSPI-using-PetaLinux-Tools-Part-2
// going very slow
&qspi {
    flash@0 {
        compatible = "jedec,spi-nor";
        #address-cells = <1>;
        #size-cells = <1>;
        reg = <0x0>;
        spi-tx-bus-width = <4>;
        spi-rx-bus-width = <4>;
        spi-max-frequency = <50000000>;
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;
            bootbin@0 {
                /* 2M for FSBL + Uboot */
                reg = <0x00000000 0x00200000>;
            };
            env@200000 {
                /* 256k for Uboot env */
                reg = <0x00200000 0x00040000>;
            };
            dts@240000 {
                /* 256k for device tree */
                reg = <0x00240000 0x00040000>;
            };
            image@280000 {
                /* 32M for kernel */
                reg = <0x00280000 0x02000000>;
            };
            recovery@2280000 {
                /* 93.5M remaining for recovery-rootfs */
                reg = <0x02280000 0x05D80000>;
            };
        };
    };
};

