
#include "dt-bindings/gpio/gpio.h"
#include "dt-bindings/phy/phy.h"
#include "dt-bindings/dma/axi-dmac.h"
#include "pcie-mem.dtsi"

/ {
    chosen {
        xlnx,eeprom = &eeprom_mac;
    };

    gpio-leds {
        compatible = "gpio-leds";
        // MIO7
        led-ps1 {
            label = "LED_PS1";
            linux,default-trigger = "heartbeat";
            gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
        };
    };

    usb_phy0:phy0 {
        compatible="ulpi-phy";
        #phy-cells = <0>;
        reg = <0xe0002000 0x1000>;
        view-port=<0x170>;
        drv-vbus;
    };
};

&i2c0 {
	PCA9574_U18: pca9574@20 {
		compatible = "nxp,pca9574";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
    };
};

&i2c1 {
    eeprom_mac: eeprom@50 {
        compatible = "atmel,24c256";
        reg = <0x50>;
        pagesize = <64>;
    };
};

&sdhci0 {
    no-1-8-v;
};

&sdhci1 {
    non-removable;
    max-frequency = <50000000>;
};

&usb0 {
    dr_mode = "host";
    usb-phy = <&usb_phy0>;
};

&gem0 {
    phy-handle = <&phy0>;
	phy0: phy@0 {
	    reg = <0x0>;
            device_type = "ethernet-phy";
            marvell,reg-init =
                // Set Fiber Auto-Negotiation Advertisement Register to 1000BASE-X Full-Duplex *only*
                <1 4 0x0000 0x0020>,
                // Set PHY Mode to "RGMII --> 1000BASE-X"
                <18 20 0x0000 0x0002>,
                // Reset PHY
                <18 20 0x7fff 0x8000>;
	};
};

&eeprom_mac  {
	#address-cells = <1>;
	#size-cells = <1>;

	eth_mac: eth_mac@7f7a {
		reg = <0x7f7a 0x6>;
	};
};

&qspi {
	qspi_flash: flash@0 {
        reg = <0x0>;
		compatible = "jedec,spi-nor";
        spi-max-frequency = <50000000>;
        spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
        #address-cells = <1>;
        #size-cells = <1>;
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;
            bootbin@0 {
                /* 2M for FSBL + Uboot */
                reg = <0x00000000 0x00200000>;
            };
            env@200000 {
                /* 256k for Uboot env */
                reg = <0x00200000 0x00040000>;
            };
            dts@240000 {
                /* 256k for device tree */
                reg = <0x00240000 0x00040000>;
            };
            uimage@280000 {
                /* 8M for kernel */
                reg = <0x00280000 0x00800000>;
            };
            recovery@a80000 {
                /* 21.5M remaining for recovery-rootfs */
                reg = <0x00a00000 0x01580000>;
            };
        };
    };
};
