
#include "dt-bindings/gpio/gpio.h"
#include "dt-bindings/phy/phy.h"

/ {
/* No MAC EEPROM ==> Use STAMP UID */

    gpio-leds {
        compatible = "gpio-leds";

        // MIO8 DEBUG LED
        led-ps1 {
            label = "LED_PS";
            linux,default-trigger = "heartbeat";
            gpios = <&gpio 8 GPIO_ACTIVE_HIGH>;
        };
    };

    /* 50MHz reference crystal Y2 */
    ref50: ref50M {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <50000000>;
    };

    i2c_bb {
        compatible = "i2c-gpio";

        scl-gpios = <&gpio 11 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
        sda-gpios = <&gpio 30 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;

        mmcmailbox@2a {
            compatible = "desy,mmcmailbox";
            reg = <0x2a>;
        };
    };
};

// GEM1, GEM3: RGMII <--> 88E1512
// GEM2: 1000BASE-X (no ext. PHY)
// On Rev.A, there is no UID EEPROM for the MAC addresses,
// they have to be set in U-Boot: https://redmine.msktools.desy.de/issues/12083#note-2
&gem2 {
    is-internal-pcspma;
    phy-mode = "moca";
    phy-connection-type = "1000base-x";
    fixed-link {
          speed = <1000>;
          full-duplex;
    };
};

&gem1 {
    phy-handle = <&phy0>;
	phy0: phy@0 {
		reg = <0x0>;
        device_type = "ethernet-phy";
        marvell,reg-init =
          <18 20 0xfff8 0x2>;
	};
};

&gem3 {
    phy-handle = <&phy1>;
	phy1: phy@0 {
		reg = <0x0>;
        device_type = "ethernet-phy";
        marvell,reg-init =
          <18 20 0xfff8 0x2>;
	};
};

&sdhci0 {
    // WP pin is not available on microSD, not connected on the board
    disable-wp;

    // the HW does not support SD 3.0
    no-1-8-v;
};

&gpio {
    /*
    No pins were available, I2C always on
    i2c0oe {
        gpio-hog;
        output-high;
        gpios = <20 GPIO_ACTIVE_HIGH>;
    };
    */
    // USB Host ist drauf
    // USB3 Pin nicht verbunden!
    // USB C ist USB 2 und Display Port
    usbc_pd_reset {
        gpio-hog;
        output-low;
        gpios = <10 GPIO_ACTIVE_HIGH>;
    };
};


&i2c0 { // MIO6 / 7
    /*
        eeprom_mac: eeprom@50 {
            compatible = "atmel,24c02";
            reg = <0x50>;
            pagesize = <16>;
        };
    */
};

/*
&eeprom_mac  {
    #address-cells = <1>;
    #size-cells = <1>;

    eth_mac: eth_mac@fa {
        reg = <0xfa 0x6>;
    };
};
*/

/*
&dwc3_0 {
    status = "okay";
    dr_mode = "host";
    snps,usb3_lpm_capable;
    phy-names = "usb3-phy";
//    phys = <&lane2 PHY_TYPE_USB3 0 2 26000000>; Wir haben kein USB3 d.h. keinen dedizierten GTR Transceiver
    maximum-speed = "super-speed";
};
*/

/*

		usb0@ff9d0000 {
                        #address-cells = <0x02>;
                        #size-cells = <0x02>;
                        status = "okay";
                        compatible = "xlnx,zynqmp-dwc3";
                        reg = <0x00 0xff9d0000 0x00 0x100>;
                        clock-names = "bus_clk\0ref_clk";
                        power-domains = <0x0c 0x16>;
                        ranges;
                        nvmem-cells = <0x12>;
                        nvmem-cell-names = "soc_revision";
                        clocks = <0x03 0x20 0x03 0x22>;
                        xlnx,tz-nonsecure = <0x01>;
                        xlnx,usb-polarity = <0x01>;
                        xlnx,usb-reset-io = <0x0a>;
                        xlnx,usb-reset-mode = <0x02>;
                        phandle = <0x6a>;

                        dwc3@fe200000 {
                                compatible = "snps,dwc3";
                                status = "okay";
                                reg = <0x00 0xfe200000 0x00 0x40000>;
                                interrupt-parent = <0x04>;
                                interrupt-names = "dwc_usb3\0otg\0hiber";
                                interrupts = <0x00 0x41 0x04 0x00 0x45 0x04 0x00 0x4b 0x04>;
                                #stream-id-cells = <0x01>;
                                iommus = <0x0d 0x860>;
                                snps,quirk-frame-length-adjustment = <0x20>;
                                snps,refclk_fladj;
                                snps,enable_guctl1_resume_quirk;
                                snps,enable_guctl1_ipd_quirk;
                                snps,xhci-stream-quirk;
                                maximum-speed = "high-speed";
                                snps,dis_u2_susphy_quirk;
                                snps,dis_u3_susphy_quirk;
                                phandle = <0x6b>;
                        };
                };

*/


&usb0 {
	status = "okay";
        /delete-property/ clocks;
	/delete-property/ clock-names;
	clocks = <0x3 0x21>;
	clock-names = "bus_clk";
};

&dwc3_0 {
        maximum-speed = "high-speed";
        //snps,dis_u2_susphy_quirk;
        //snps,dis_u3_susphy_quirk;
        snps,usb3_lpm_capable;
        phy-names = "usb2-phy";
	status = "okay";
        dr_mode = "host";
};


// copied from ZCU104
// and https://www.zachpfeffer.com/single-post/Integrate-a-QSPI-using-PetaLinux-Tools-Part-2
// going very slow
&qspi {
    flash@0 {
        compatible = "jedec,spi-nor";
        #address-cells = <1>;
        #size-cells = <1>;
        reg = <0x0>;
        spi-tx-bus-width = <1>;
        spi-rx-bus-width = <1>;
        spi-max-frequency = <50000000>;
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;
            bootbin@0 {
                /* 2M for FSBL + Uboot */
                reg = <0x00000000 0x00200000>;
            };
            env@200000 {
                /* 256k for Uboot env */
                reg = <0x00200000 0x00040000>;
            };
            dts@240000 {
                /* 256k for device tree */
                reg = <0x00240000 0x00040000>;
            };
            image@280000 {
                /* 32M for kernel */
                reg = <0x00280000 0x02000000>;
            };
            recovery@2280000 {
                /* 93.5M remaining for recovery-rootfs */
                reg = <0x02280000 0x05D80000>;
            };
        };
    };
};
