
#include "dt-bindings/gpio/gpio.h"
#include "dt-bindings/phy/phy.h"

/ {
/* No MAC EEPROM ==> Use STAMP UID */

    gpio-leds {
        compatible = "gpio-leds";

        // MIO8 DEBUG LED
        led-ps1 {
            label = "LED_PS";
            linux,default-trigger = "heartbeat";
            gpios = <&gpio 8 GPIO_ACTIVE_HIGH>;
        };
    };

/* 50MHz reference crystal Y2 */
ref50: ref50M
    {
        compatible = "fixed-clock";
		#clock-cells = <0>;
        clock-frequency = <50000000>;
    };
};

// GEM1, GEM3: RGMII <--> 88E1512
// GEM2: 1000BASE-X (no ext. PHY)
&gem2 {
    local-mac-address = [DE AD BE EF 01 01];
    is-internal-pcspma;
    phy-mode = "moca";
    phy-connection-type = "1000base-x";
    fixed-link {
          speed = <1000>;
          full-duplex;
    };
};

&gem1 {
    local-mac-address = [17 89 12 5f e4 01];
    phy-handle = <&phy0>;
	phy0: phy@0 {
		reg = <0x0>;
        device_type = "ethernet-phy";
        marvell,reg-init =
          <18 20 0xfff8 0x2>;
	};
};

&gem3 {
    local-mac-address = [17 89 12 5f e4 02];
    phy-handle = <&phy1>;
	phy1: phy@0 {
		reg = <0x0>;
        device_type = "ethernet-phy";
        marvell,reg-init =
          <18 20 0xfff8 0x2>;
	};
};

&sdhci0 {
    // WP pin is not available on microSD, not connected on the board
    disable-wp;

    // the HW does not support SD 3.0
    no-1-8-v;
};

&gpio {
    /*
    No pins were available, I2C always on
    i2c0oe {
        gpio-hog;
        output-high;
        gpios = <20 GPIO_ACTIVE_HIGH>;
    };
    */
    // USB Host ist drauf
    // USB3 Pin nicht verbunden!
    // USB C ist USB 2 und Display Port
    usbc_pd_reset {
        gpio-hog;
        output-low;
        gpios = <10 GPIO_ACTIVE_HIGH>;
    };
};

&i2c0 { // MIO6 / 7
    
    si5341: clock-generator@76 { /* SI5341-U29 */
        compatible = "silabs,si5341";
        reg = <0x76>;
        #clock-cells = <2>;
        #address-cells = <1>;
        #size-cells = <0>;
        clocks = <&ref50>;
        clock-names = "xtal";
        clock-output-names = "si5341";
    };

    /*
        eeprom_mac: eeprom@50 {
            compatible = "atmel,24c02";
            reg = <0x50>;
            pagesize = <16>;
        };
    */   
};

/*
&eeprom_mac  {
    #address-cells = <1>;
    #size-cells = <1>;

    eth_mac: eth_mac@fa {
        reg = <0xfa 0x6>;
    };
};
*/
/*
&dwc3_0 {
    status = "okay";
    dr_mode = "host";
    snps,usb3_lpm_capable;
    phy-names = "usb3-phy";
//    phys = <&lane2 PHY_TYPE_USB3 0 2 26000000>; Wir haben kein USB3 d.h. keinen dedizierten GTR Transceiver
    maximum-speed = "super-speed";
};
*/

// copied from ZCU104
// and https://www.zachpfeffer.com/single-post/Integrate-a-QSPI-using-PetaLinux-Tools-Part-2
// going very slow
&qspi {
    flash@0 {
        compatible = "jedec,spi-nor";
        #address-cells = <1>;
        #size-cells = <1>;
        reg = <0x0>;
        spi-tx-bus-width = <1>;
        spi-rx-bus-width = <1>;
        spi-max-frequency = <50000000>;
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;
            bootbin@0 {
                /* 2M for FSBL + Uboot */
                reg = <0x00000000 0x00200000>;
            };
            env@200000 {
                /* 256k for Uboot env */
                reg = <0x00200000 0x00040000>;
            };
            dts@240000 {
                /* 256k for device tree */
                reg = <0x00240000 0x00040000>;
            };
            image@280000 {
                /* 32M for kernel */
                reg = <0x00280000 0x02000000>;
            };
            recovery@2280000 {
                /* 93.5M remaining for recovery-rootfs */
                reg = <0x02280000 0x05D80000>;
            };
        };
    };
};
